.container_playlist{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background: #121212;
}
.playlist_page{
    display: flex;
    width: calc(100% - 64px);
    height: 100vh;
    padding: 30px;
    
}
.playlist_button {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 11px;
    line-height: 11px;
    color: #FFFFFF;
    font-family: Verdana;
    width: 34px;
    font-size: 41px;
    font-weight: 100;
    padding: 28px;
    background-color: #26B321;
    text-shadow: 1px 1px 20px #000000;
    border: solid #99C624 1px;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center ;
    margin: auto;
 }
 .playlist_button:hover {
    background: #000000;
    border: solid #000000 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }