.container_album{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background: #121212;
}
.album_page{
    display: flex;
    width: calc(100% - 64px);
    padding: 30px;
    height: 100vh;
}